.container{
  width: 80%;
  margin: auto;
}

@mixin flexCenterAll {
  display:flex;
  // justify-content:center;
  align-items: center;
}

hr{
  width: 80%;
  margin: auto;
}

a{
  text-decoration: none;
}

.bg-2{
  background: #FFE7D2;
}

.cont-sect{
  @include flexCenterAll;
}
