

header{
  .cont-nav{
    height: 75px;
    width: 100%;
    color: black;
    @include flexCenterAll;

    nav{
      @include flexCenterAll;
      justify-content: space-between;
      width: 100%;
    }

    div.logo{
      @include flexCenterAll;

        img{
          width: 25px;
          margin-right: 10px;
        }

        h2{
          font-weight: 400;
          font-size: 18px;
        }
    }

    a{
      color:black;
      padding: 0 10px;
      font-size: 14px;
      font-weight: 600;

      i{
        font-size: 20px;
      }
    }


      input[type=button]{
        background: none;
        border: 1px solid black;
        padding: 3px;
        transition: .5s;
        &:hover{
          color: white;
          background: #3A57AE;
        }
      }


  }



}
