.sect1{
  margin: 80px 0;
  h1{
    font-size: $h1SizeText;
  }

  p{
    font-size: 22px;
    margin: 10px 10px 25px 0;
  }
  img{
    width:100%;
  }

  .btn-sect1{
    margin-bottom: 35px;
  }

  a{
    color: black;
    margin: 30px 0;
    font-size: 12px;
  }

}

.sect-2{
  flex-direction: column;

  .head-text{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
  }

  .sect2-imgCont{
    width: 90%;
    margin: auto;
    @include flexCenterAll;
    justify-content: space-between;

    .sect2-imgbox{
      @include flexCenterAll;
      flex-direction: column;
      img{
        width: 140px;
        padding: 30px 0;
      }
      p{
        width: 90%;
        text-align: center;
      }

    }


  }

  .sect2-bttmImg{
    padding: 50px;
    img{
      width: 280px;
    }
  }
}
