*{box-sizing: border-box; margin: 0; padding: 0;}

body{
  font-family: 'MONTSERRAT', sans-serif;
  background: white;
  width: 100vw;
}

.container{
  width: 80%;
  margin: auto;
}

hr{
  width: 80%;
  margin: auto;
}

a{
  text-decoration: none;
}

.bg-2{
  background: #FFE7D2;
}



@import "const";
@import "header";
@import "mainContent";
@import "footer";
