*{box-sizing: border-box; margin: 0; padding: 0;}

body{
  font-family: 'MONTSERRAT', sans-serif;
  background: white;
  width: 100vw;
}

@import "const";
@import "header";
@import "mainContent";
@import "footer";
